// COLOR
// default
$bg-color: #ffffff;
$active-color: #cfe0b9;
$f-color: #424242;
$placeholder-color: rgba(66, 66, 66, 0.5);
$outline-color: rgba(38, 143, 255, 0.5);
$hover-color: rgba(196, 196, 196, 0.25);
$elem-color: #9e9e9e;

// dark theme
$d-bg-color: #343334;
$d-bg-color-todo: #2a282a;
$d-active-color: #ff8a00;
$d-f-color: rgba(255, 255, 255, 0.8);
$d-placeholder-color: #979797;
$d-outline-color: rgba(38, 143, 255, 0.7);
$d-elem-color: rgba(158, 158, 158, 0.8);

// FONT
$f-family: "Montserrat";
$f-family-secondary: "Сaveat";
$f-size: 18px;
$f-size-xs: 16px;
$f-size-secondary: 40px;
$f-size-secondary-xs: 35px;

// MEDIA
// min
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// max
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;
