/*--------------------
  PROGRESSBAR
--------------------*/

.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 4px;
  background: $active-color;
  transition: 0.5s width;
}

.dark {
  .progressbar {
    background: $d-active-color;
  }
}
