/*--------------------
  PROGRESSBAR
--------------------*/

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 4px;
  background: $active-color;
  transition: 0.5s width;
}

.dark {
  .progressbar {
    background: $d-active-color;
  }
}
