/*--------------------
  COMMON STYLES
--------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  font-weight: 400;
  font-size: $f-size;
  line-height: 0.5;
  font-family: $f-family;
  color: $f-color;
  background: $bg-color;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
